<IfModule mod_rewrite.c>
    RewriteEngine On

    #<IfModule mod_vhost_alias.c>
    #    RewriteBase /
    #</IfModule>

    #RewriteCond %{REQUEST_FILENAME} !-f
    #RewriteRule ^(.*)$ /server/index.php [QSA,L]

    RewriteRule ^/?logout$ /server/logout.php [QSA]
</IfModule>

# BEGIN GZIP
<ifmodule mod_deflate.c>
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript
</ifmodule>
# END GZIP

<ifModule mod_headers.c>
# YEAR
<FilesMatch "\.(ico|gif|jpg|jpeg|png|flv|pdf)$">
  ExpiresDefault A29030400
  Header append Cache-Control "public"
</FilesMatch>
# WEEK
<FilesMatch "\.(js|css|swf)$">
  ExpiresDefault A604800
  Header append Cache-Control "public"
</FilesMatch>
# 45 MIN
<FilesMatch "\.(html|htm|txt)$">
  ExpiresDefault A2700
  Header append Cache-Control "public"
</FilesMatch>
</ifModule>