<IfModule mod_rewrite.c>
    RewriteEngine On

    #<IfModule mod_vhost_alias.c>
    #    RewriteBase /
    #</IfModule>

    #RewriteCond %{REQUEST_FILENAME} !-f
    #RewriteRule ^(.*)$ /server/index.php [QSA,L]

    RewriteRule ^/?logout$ /server/logout.php [QSA]
</IfModule>