<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Homepage Test</title>
		<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css' />
		<link href='/css/template.css' rel="stylesheet" />
		<script src="/bower_components/angular/angular.js"></script>
		<script src="/bower_components/jquery/jquery.js"></script>
		<script src="/bower_components/momentjs/moment.js"></script>
	</head>
	<body ng-app="app">
		<div class="kommissioner-view">
		  <div class="commission-panel" ng-controller="commissionPanelController">
        <h2 class="commission-panel-header">Commissions</h2>
        
        <div class="commissions-lists">
          <div class="commissions-list active-commissions-list">
            <h3 class="commissions-list-header" ng-click="commissionPanel.activeCommissionListDisclosed = !commissionPanel.activeCommissionListDisclosed">
              Active Commissions
            </h3>
            <div class="commissions-list-toggle active-commissions-list-toggle" ng-class="{ 'disclosed-commission-list-toggle': commissionPanel.activeCommissionListDisclosed }"></div>
            
            <ul ng-if="commissionPanel.activeCommissionListDisclosed">
              <li class="commission active-commission" ng-class="{ 'commission-with-unread-messages': commission.unreadMessageCount > 0, 'selected-commission': commission == commissionPanel.selectedCommission }" ng-repeat="commission in commissions  | filter: { status: 'active' }" ng-click="commissionPanel.selectedCommission = commission">
                <div class="commission-person-image" ng-class="{ 'commission-person-image-generic': !commission.buyer.image }">
                  <img ng-if="commission.buyer.image" ng-src="{{ commission.buyer.image }}">
                </div>
                <h4 class="commission-title">{{ commission.title }}</h4>
                <p class="commission-person-name">{{ commission.buyer.name }}</p>
                <div class="commisssion-last-updated-date">{{ commissionPanel.formatDate(commission.lastUpdated) }}</p>
              </li>
            </ul>
          </div>
          
          <div class="commissions-list request-commissions-list">
            <h3 class="commissions-list-header" ng-click="commissionPanel.requestCommissionListDisclosed = !commissionPanel.requestCommissionListDisclosed">
              Requests
            </h3>
            <div class="commissions-list-toggle request-commissions-list-toggle" ng-class="{ 'disclosed-commission-list-toggle': commissionPanel.requestCommissionListDisclosed}"></div>
            
            <ul ng-if="commissionPanel.requestCommissionListDisclosed">
              <li class="commission request-commission" ng-class="{ 'commission-with-unread-messages': commission.unreadMessageCount > 0, 'selected-commission': commission == commissionPanel.selectedCommission }" ng-repeat="commission in commissions  | filter: { status: 'request' }" ng-click="commissionPanel.selectedCommission = commission">
                <div class="commission-person-image" ng-class="{ 'commission-person-image-generic': !commission.buyer.image }">
                  <img ng-if="commission.buyer.image" ng-src="{{ commission.buyer.image }}">
                </div>
                <h4 class="commission-title">{{ commission.title }}</h4>
                <p class="commission-person-name">{{ commission.buyer.name }}</p>
                <div class="commisssion-last-updated-date">{{ commissionPanel.formatDate(commission.lastUpdated) }}</p>
              </li>
            </ul>
          </div>
          
          <div class="commissions-list complete-commissions-list">
            <h3 class="commissions-list-header" ng-click="commissionPanel.completeCommissionListDisclosed = !commissionPanel.completeCommissionListDisclosed">
              Completed
            </h3>
            <div class="commissions-list-toggle complete-commissions-list-toggle" ng-class="{ 'disclosed-commission-list-toggle': commissionPanel.completeCommissionListDisclosed}"></div>
            
            <ul ng-if="commissionPanel.completeCommissionListDisclosed">
              <li class="commission complete-commission" ng-class="{ 'commission-with-unread-messages': commission.unreadMessageCount > 0, 'selected-commission': commission == commissionPanel.selectedCommission }" ng-repeat="commission in commissions | filter: { status: 'complete' }" ng-click="commissionPanel.selectedCommission = commission">
                <div class="commission-person-image" ng-class="{ 'commission-person-image-generic': !commission.buyer.image }">
                  <img ng-if="commission.buyer.image" ng-src="{{ commission.buyer.image }}">
                </div>
                <h4 class="commission-title">{{ commission.title }}</h4>
                <p class="commission-person-name">{{ commission.buyer.name }}</p>
                <div class="commisssion-last-updated-date">{{ commissionPanel.formatDate(commission.lastUpdated) }}</p>
              </li>
            </ul>
          </div>
        </div>
      
        <div class="commission-actions">
          <a class="commission-action commission-action-reply btn active" ng-click="commissionPanel.selectedCommission.replyDisclosed = true">
            Reply
          </a>
          <a class="commission-action commission-action-mark-as-complete btn" ng-class="{ 'active commission-action-mark-as-complete-marked':  commissionPanel.selectedCommissionShouldShowCompletedMessage() }" ng-click="commissionPanel.toggleSelectedCommissionCompletion()" ng-if="commissionPanel.selectedCommission.status != 'complete'">
            Mark as complete
          </a>
        </div>
		
        <div 
        class="commission-conversation" ng-class="{ 'commission-conversation-with-attachments': commissionPanel.commissionHasAttachments(commissionPanel.selectedCommission) }">
        	<div class="commission-message commission-complete-prompt" ng-if="commissionPanel.selectedCommissionShouldPromptForCompletenessConfirmation()">
            <hr />
            <p>
              <span ng-if="commissionPanel.selectedCommission.buyerMarkedAsCompleted">
                The buyer
              </span>
              <span ng-if="commissionPanel.selectedCommission.artistMarkedAsCompleted">
                The artist
              </span>
              has marked this commission as complete.<br />
            </p>
            <p>
              Is the commission complete?
            </p>
            <p class="commission-complete-prompt-actions">
              <a class="btn success" ng-click="commissionPanel.markSelectedCommissionAsCompleted()">Yes</a>
              <a class="btn danger" ng-click="commissionPanel.markSelectedCommissionAsIncomplete()">No</a>
            </p>  
            <hr />
          </div>
          
          
        	<div class="commission-message commission-complete-message" ng-if="commissionPanel.selectedCommissionShouldShowCompletedMessage()">
            <hr />
            <p>
              You have marked this commission as complete.
            </p>
            <p>
              Waiting for 
              <span ng-if="commissionPanel.commissionPanel.userIsSelectedCommissionArtist">
                The buyer
              </span>
              <span ng-if="!commissionPanel.commissionPanel.userIsSelectedCommissionArtist">
                The artist
              </span>
              to respond.
            </p>  
            <hr />
          </div>
          
          
        	<div class="commission-message commission-message-reply" ng-if="commissionPanel.selectedCommission.replyDisclosed">
            <div class="commission-person-image commission-message-person-image" ng-class="{ 'commission-person-image-generic': !commissionPanel.selectedCommission.artist.image }">
              <img ng-if="commissionPanel.selectedCommission.artist.image" ng-src="{{ commissionPanel.selectedCommission.artist.image }}">
            </div>
            <div class="commission-message-sender">
              {{ commissionPanel.selectedCommission.artist.name }}
            </div>
            <div class="commission-message-body">
              <textarea autofocus kommi-expand-to-fit kommi-enter="commissionPanel.reply()" ng-model="commissionPanel.selectedCommission.replyBody" class="commission-message-reply-body kommi-expand-to-fit"></textarea>
            </div>
            <div ng-if="message.attachments.length > 0" ng-repeat="attachment in message.attachments" class="commission-message-attachments">
              <div class="commission-message-attachment">
                {{ attachment.name }} -
                <span class="commission-attachment-size">{{ attachment.size }}K</span class="commission-attachment-size">
              </div>
            </div>
          </div>
          
          <div class="commission-message" ng-repeat="message in commissionPanel.selectedCommission.messages" ng-class="{ 'commission-message-with-attachments': message.attachments.length > 0 }">
            <div class="commission-person-image commission-message-person-image" ng-class="{ 'commission-person-image-generic': !commission.buyer.image }">
              <img ng-if="message.sender.image" ng-src="{{ message.sender.image }}">
            </div>
            <div class="commission-message-sender">
              {{ message.sender.name }}
            </div>
            <div class="commission-message-body">
              {{ message.body }}
            </div>
            <div ng-if="message.attachments.length > 0" ng-repeat="attachment in message.attachments" class="commission-message-attachments">
              <div class="commission-message-attachment">
                {{ attachment.name }} -
                <span class="commission-attachment-size">{{ attachment.size }}K</span class="commission-attachment-size">
              </div>
            </div>
          </div>
          
          <h4 class="commission-request-header">Commission request for</h4>
          <div class="commission-request-details">
            <table class="commission-details-table" border="0">
              <tr>
                <td class="commission-details-cell commission-description">{{ commissionPanel.selectedCommission.description }}</td>
                <td class="commission-details-cell commission-price">
                  <span class="commission-currency-symbol">£</span><!--
               --><span class="commission-price-dollars">{{ commissionPanel.selectedCommission.price.toFixed(2).split('.')[0] }}</span><!--
               --><span class="commission-price-seperator">.</span><!--
               --><span class="commission-price-cents">{{ commissionPanel.selectedCommission.price.toFixed(2).split('.')[1] }}</span>
                </td>
              </tr>
              <tr ng-repeat="addon in commissionPanel.selectedCommission.addons">
                <td class="commission-details-cell commission-description">{{ addon.description }}</td>
                <td class="commission-details-cell commission-price">
                  <span class="commission-currency-symbol">£</span><!--
               --><span class="commission-price-dollars">{{ addon.price.toFixed(2).split('.')[0] }}</span><!--
               --><span class="commission-price-seperator">.</span><!--
               --><span class="commission-price-cents">{{ addon.price.toFixed(2).split('.')[1] }}</span>
                </td>
              </tr>
            </table>
          </div>
          <div class="commission-request-total">
            <table class="commission-details-table" border="0">
              <tr>
                <td class="commission-details-cell commission-description">Total</td>
                <td class="commission-details-cell commission-price">
                  <span class="commission-currency-symbol">£</span><!--
               --><span class="commission-price-dollars">{{ commissionPanel.selectedCommission.totalPrice.toFixed(2).split('.')[0] }}</span><!--
               --><span class="commission-price-seperator">.</span><!--
               --><span class="commission-price-cents">{{ commissionPanel.selectedCommission.totalPrice.toFixed(2).split('.')[1] }}</span>
                </td>
              </tr>
            </table>
          </div>
          
        </div>
		
        <div class="commission-files" ng-if="commissionPanel.commissionHasAttachments(commissionPanel.selectedCommission)">
          <h4 class="commission-files-header">
            Commission files
          </h4>
          <div ng-repeat="attachment in commissionPanel.attachementsFromCommission(commissionPanel.selectedCommission)">
            <div class="commission-attachment">
              {{ attachment.name }} -
              <span class="commission-attachment-size">{{ attachment.size }}K</span class="commission-attachment-size">
            </div>
          </div>
        </div>
		
      </div>
    </div>
		
    <script>
      var app = angular.module('app', []);
      
      var expandToFitDirective = app.directive('kommiExpandToFit', function () {
        return {
          link: function (scope, element) {
            var hiddenDiv = $(document.createElement('div'));
            var content = null;
            var commonClasses = $(element).attr('class');

            $(element).addClass('kommi-expand-to-fit-no-resize');
            hiddenDiv.addClass('kommi-expand-to-fit-hidden-div kommi-expand-to-fit-no-resize ' + commonClasses);

            $('body').append(hiddenDiv);

            var updateHeight = function () {
              content = $(element).val();

              content = content.replace(/\n/g, '<br>');
              hiddenDiv.html(content + '<br class="kommi-expand-to-fit-line-break">');

              $(element).css('height', hiddenDiv.height());
            };

            updateHeight();
            $(element).on('keyup', updateHeight);
          }
        }
      });
      
      var enterDirective = app.directive('kommiEnter', function () {
        return {
          link: function (scope, element, attrs) {
            console.log('yes');
            $(element).keypress(function(e) {
              if (e.which == 13) { 
                if (!e.shiftKey) scope.$apply(attrs['kommiEnter']);
              }
            });
          }
        };
      })
      
      var commissionPanelController = app.controller('commissionPanelController', function($scope) {
        $scope.kommissionerUser = {
          name: 'RomanRazor',
          image: null
        };
        
        $scope.commissionPanel = {};
        $scope.commissionPanel.activeCommissionListDisclosed = true;
        $scope.commissionPanel.requestCommissionListDisclosed = true;
        $scope.commissionPanel.completeCommissionListDisclosed = false;
        $scope.commissions = [
          {
            title: 'DRAW MAH OC',
            artist: {
              name: 'RomanRazor',
              image: null
            },            
            buyer: { 
              name: 'PippySmudgebutt', 
              image: 'example_images/pippy.png' 
            },
            unreadMessageCount: 1,
            replyDisclosed: false,
            replyBody: '',
            lastUpdated: new Date(2014, 1, 23),
            price: 7.00,
            status: 'active',
            artistMarkedAsCompleted: false,
            buyerMarkedAsCompleted: true,
            description: 'Sketch',
            addons: [
              {
                description: '+ 1 additional character',
                price: 5.00
              }
            ],
            totalPrice: 19.00,
            messages: [
              {
                sender: { 
            	    name: 'RomanRazor',
            	  },
                date: new Date(2014, 1, 23),
                body: 'Yeah, sure',
                attachments: []
              },
              {
                sender:  { 
            	    name: 'PippySmudgebutt', 
            	    image: 'example_images/pippy.png' 
            	},
                date: new Date(2014, 1, 23),
                body: "Hey There,\n Can I commission you to do a thing? Ref attached.\n- Pippy",
                read: true,
                attachments: [
                  {
                    name: 'Smudebutt-ref.jpg',
                    size: 249,
                  }
                ]
              },
              {
                sender: { 
            	    name: 'RomanRazor',
            	  },
                date: new Date(2014, 1, 23),
                body: 'Yeah, sure',
                attachments: []
              },
              {
                sender:  { 
            	    name: 'PippySmudgebutt', 
            	    image: 'example_images/pippy.png' 
            	},
                date: new Date(2014, 1, 23),
                body: "Hey There,\n Can I commission you to do a thing? Ref attached.\n- Pippy",
                read: true,
                attachments: [
                  {
                    name: 'Smudebutt-ref v1.jpg',
                    size: 249,
                  },
                  {
                    name: 'Other-ref v2.jpg',
                    size: 300,
                  }
                ]
              },
              
            ]
          },
          {
            title: 'Commission Title Here',
            buyer: { name: 'John Doe' },
            artist: $scope.kommissionerUser,
            unreadMessageCount: 1,
            replyDisclosed: false,
            replyBody: '',
            lastUpdated: new Date(2014, 1, 23),
            status: 'active',
            artistMarkedAsCompleted: false,
            buyerMarkedAsCompleted: true,
            description: 'Sketch',
            price: 7.00,
            addons: [],
            totalPrice: 7.00,
            messages: [
              {
				        sender:  { 
              	  name: 'John Doe', 
              	},
                date: new Date(2014, 1, 23),
                body: "Hi!",
                attachments: []
              }
            ]
          },
          {
            title: 'Commission Dun Goes Here',
            buyer: { name: 'Jane Doe' },
            artist: $scope.kommissionerUser,
            unreadMessageCount: 0,
            lastUpdated: new Date(2014, 1, 11),
            status: 'active',
            artistMarkedAsCompleted: false,
            buyerMarkedAsCompleted: true,
            description: 'Sketch',
            price: 7.00,
            addons: [],
            totalPrice: 7.00,
            messages: [
              {
                sender: { name: 'Jane Doe' },
                date: new Date(2014, 1, 23),
                body: "Boop!",
                attachments: []
              }
            ]
          },
          {
            title: 'Vowel porn',
            buyer: { name: 'Carol Vordamon' },
            artist: $scope.kommissionerUser,
            unreadMessageCount: 0,
            replyDisclosed: false,
            replyBody: '',
            lastUpdated: new Date(2013, 11, 5),
            status: 'active',
            artistMarkedAsCompleted: false,
            buyerMarkedAsCompleted: true,
            description: 'Sketch',
            price: 7.00,
            totalPrice: 7.00,
            addons: [],
            messages: [
              {
                sender: { name: 'Carol Vordamon' },
                date: new Date(2014, 1, 23),
                body: "Yes!",
                attachments: []
              }
            ]
          },
          {
            title: 'Advertisement',
            buyer: { name: 'Charleston Chew' },
            artist: $scope.kommissionerUser,
            unreadMessageCount: 1,
            replyDisclosed: false,
            replyBody: '',
            lastUpdated: new Date(2013, 1, 23),
            status: 'request',
            description: 'Sketch',
            price: 7.00,
            addons: [],
            totalPrice: 7.00,
            messages: [
              {
                sender: { name: 'Charleston Chew' },
                date: new Date(2014, 1, 23),
                body: "No!",
                attachments: []
              }
            ]          
          },
          {
            title: 'Sanic',
            buyer: { name: 'Knuckles' },
            artist: $scope.kommissionerUser,
            unreadMessageCount: 1,
            replyDisclosed: false,
            replyBody: '',
            lastUpdated: new Date(2013, 1, 23),
            status: 'request',
            description: 'Sketch',
            price: 7.00,
            addons: [],
            totalPrice: 7.00,
            messages: [
              {
                sender: { name: 'Knuckles' },
                date: new Date(2014, 1, 23),
                body: "Maybe, I don't know, can you repeat, the, question?",
                attachments: []
              }
            ]
          },
          {
            title: 'Beautiful Fish',
            buyer: { name: 'Mr Place' },
            artist: $scope.kommissionerUser,
            unreadMessageCount: 1,
            replyDisclosed: false,
            replyBody: '',
            lastUpdated: new Date(2013, 1, 23),
            status: 'complete',
            description: 'Sketch',
            price: 7.00,
            addons: [],
            totalPrice: 7.00,
            messages: [
              {
                sender: { name: 'Mr Place' },
                date: new Date(2014, 1, 23),
                body: "Thank you : )",
                attachments: []
              }
            ]          
          },
          {
            title: 'Knuckles',
            buyer: { name: 'Sanic' },
            artist: $scope.kommissionerUser,
            unreadMessageCount: 1,
            replyDisclosed: false,
            replyBody: '',
            lastUpdated: new Date(2013, 1, 23),
            status: 'complete',
            description: 'Sketch',
            price: 7.00,
            addons: [],
            totalPrice: 7.00,
            messages: [
              {
                sender: { name: 'Sanic' },
                date: new Date(2014, 1, 23),
                body: "I hope senpai noices me.",
                attachments: []
              }
            ]
          },
          
        ];
        
        $scope.commissionPanel.selectedCommission = $scope.commissions[0];
        
        $scope.commissionPanel.attachementsFromCommission = function(commission) {
          var attachments = [];
          commission.messages.forEach(function (message) {
            message.attachments.forEach(function (attachment) {
              attachments.push(attachment);
            });
          });
          return attachments;
        };
        
        $scope.commissionPanel.commissionHasAttachments = function (commission) {
          var attachments = $scope.commissionPanel.attachementsFromCommission(commission);
          return attachments.length > 0;
        };
        
        $scope.commissionPanel.formatDate = function (date) {
          return moment(date).format("MMM Do, YYYY");
        };
        
        $scope.commissionPanel.reply = function(replyBody) {
          var selectedCommission = $scope.commissionPanel.selectedCommission;
          selectedCommission.replyDisclosed = false;
          var replyMessage = {
            sender: selectedCommission.artist,
            date: new Date(),
            body: selectedCommission.replyBody,
            attachments: []
          }
          selectedCommission.messages.unshift(replyMessage);
          selectedCommission.replyBody = '';
        }
        
        $scope.commissionPanel.selectedCommissionShouldPromptForCompletenessConfirmation = function() {
          var selectedCommission = $scope.commissionPanel.selectedCommission;
          
          var artistMarkedAndUserNotArtist = selectedCommission.artistMarkedAsCompleted && !$scope.commissionPanel.userIsSelectedCommissionArtist();
          var buyerMarkedAndUserNotBuyer = selectedCommission.buyerMarkedAsCompleted && $scope.commissionPanel.userIsSelectedCommissionArtist();
                    
          var artistAndBuyerAggreeSelectedCommissionIsComplete = selectedCommission.artistMarkedAsCompleted == selectedCommission.buyerMarkedAsCompleted;
                    
          return (buyerMarkedAndUserNotBuyer || artistMarkedAndUserNotArtist) && !artistAndBuyerAggreeSelectedCommissionIsComplete;
        }
        
        $scope.commissionPanel.selectedCommissionShouldShowCompletedMessage = function() {
          var selectedCommission = $scope.commissionPanel.selectedCommission;
          
          var artistMarkedAndUserIsArtist = selectedCommission.artistMarkedAsCompleted && $scope.commissionPanel.userIsSelectedCommissionArtist();
          var buyerMarkedAndUserIsBuyer = selectedCommission.buyerMarkedAsCompleted && !$scope.commissionPanel.userIsSelectedCommissionArtist();
                    
          var artistAndBuyerAggreeSelectedCommissionIsComplete = selectedCommission.artistMarkedAsCompleted == selectedCommission.buyerMarkedAsCompleted;
                    
          return (artistMarkedAndUserIsArtist || buyerMarkedAndUserIsBuyer) && !artistAndBuyerAggreeSelectedCommissionIsComplete;
        }
        
        $scope.commissionPanel.userIsSelectedCommissionArtist = function () {
          var selectedCommission = $scope.commissionPanel.selectedCommission;
          return selectedCommission.artist.name == $scope.kommissionerUser.name;
        }
        
        $scope.commissionPanel.markSelectedCommissionAsCompleted = function () {
          var selectedCommission = $scope.commissionPanel.selectedCommission;
          
          if ($scope.commissionPanel.userIsSelectedCommissionArtist()) {
            selectedCommission.artistMarkedAsCompleted = true;
          }
          else {
            selectedCommission.buyerMarkedAsCompleted = true;
          }
          
          $scope.commissionPanel.changeSelectedCommissionStatusToCompletedIfCommissionIsCompleted();
        }
        
        $scope.commissionPanel.toggleSelectedCommissionCompletion = function () {
          if ($scope.commissionPanel.userIsSelectedCommissionArtist()) {
            $scope.commissionPanel.selectedCommission.artistMarkedAsCompleted = !$scope.commissionPanel.selectedCommission.artistMarkedAsCompleted;
          }
          else {
            $scope.commissionPanel.selectedCommission.buyerMarkedAsCompleted = !$scope.commissionPanel.selectedCommission.buyerMarkedAsCompleted;
          }
          $scope.commissionPanel.changeSelectedCommissionStatusToCompletedIfCommissionIsCompleted();
        }
                
        $scope.commissionPanel.markSelectedCommissionAsIncomplete = function () {
          var selectedCommission = $scope.commissionPanel.selectedCommission;
          selectedCommission.artistMarkedAsCompleted = false;
          selectedCommission.buyerMarkedAsCompleted = false;
        };
        
        $scope.commissionPanel.changeSelectedCommissionStatusToCompletedIfCommissionIsCompleted = function () {
          var selectedCommission = $scope.commissionPanel.selectedCommission;
          
          if (selectedCommission.artistMarkedAsCompleted && selectedCommission.buyerMarkedAsCompleted) {
            selectedCommission.status = 'complete';
          }
        }        
      });
    </script>
	</body>
</html>