<a href="#!/my/gallery/upload" class="btn btn-primary" id="galleryButtonUpload">Upload new media</a>

<ol class="breadcrumb">
    <li><a data-ng-click="activeCollection=null">{{ activeAuthor }}</a></li>
    <li data-ng-show="activeCollection" data-ng-click="activeImage=null"><a>{{ activeCollection }}</a></li>
    <li data-ng-show="activeImage"><a>{{ activeImage }}</a></li>
</ol>
<div 
    data-gallery="true" 
    data-collections="collections" 
    data-all-uploads="allUploads"
    data-all-uploads-title="allUploadsTitle"
    data-active-image="activeImage" 
    data-active-collection="activeCollection">
</div>

<style>
    .mmediagroup {
        float:left;
        margin: 5px;
        border: 5px solid white;
        box-shadow: 0 0 0 1px silver;
    }
    .mmediagroup .title {
        font-size: 1.5em;
        font-weight:bold;
        text-align: center;
        width: 100%;
        margin-top: 5px;
    }
    
    .mmedia {
        display: inline-block;
    }
    
    .mmedia-scrub .not-scrub {
        display: none;
    }
    
    .mmedia-thumbnail .not-thumbnail {
        display: none;
    }
    
    .mmedia-thumbnail {
        border: 1px solid #aaa;
        background: silver;
        margin: 5px;
        padding: 5px;
        position: relative;
    }
    
    .mmedia-thumbnail .created
    {
        position: absolute;
        top: 0;
        right: 0;
        border-bottom-left-radius: 5px;
        background: silver;
        display: none;
        padding: 5px;
    }
    
    .mmedia-thumbnail:hover .created {
        display: block;
    }
    
    .mmedia .only-fullview {
        display: none;
    }
    .mmedia-fullview .only-fullview {
        display: block;
    }
</style>
