<form class="loginForm" accept-charset="UTF-8">
    <input class="form-control input-lg" type="text" name="user[username]" size="30" placeholder="username" data-ng-model="loginFormUsername" />
    <input class="form-control input-lg" type="password" name="user[password]" size="30" placeholder="password" data-ng-model="loginFormPassword" />

    <button id="menuLoginMessageAccessDenied" class="col-xs-12 btn btn-danger btn-lg" data-ng-show="accessDenied && loginAttemptedRecently">Wrong password</button>
    <button id="menuLoginFormButtonLogin" class="col-xs-12 btn btn-primary btn-lg" data-ng-hide="loginAttemptedRecently" data-ng-click="login()">Log in</button>
    <button id="menuLoginFormButtonSignup" class="col-xs-12 btn btn-success btn-lg" data-ng-hide="isUsernameRecognised(loginFormUsername)" data-ng-click="register()">Sign up</button>
    <button id="menuLoginFormButtonSignupDisabled" class="col-xs-12 btn btn-success btn-lg" disabled="disabled" data-ng-show="isUsernameRecognised(loginFormUsername)">Already signed up!</button>
    <button id="menuLoginFormButtonForgot" class="col-xs-12 btn btn-link btn-lg" data-ng-show="isUsernameRecognised(loginFormUsername)">Forgot your password?</button>
</form>