<div class="mmediagroup" data-ng-show="visible()">
    <div data-ng-switch="mode()">
        <div data-ng-switch-when="closed" data-ng-click="open()" data-ng-mousemove="mousemove($event)">
            <div 
                data-ng-repeat="document in documents"
                data-media="true" 
                data-document="document.value"
                data-visible="active==$index"
                data-mode="scrub"
                >
            </div>
            <div class="title">{{ name }}</div>
        </div>
        <div data-ng-switch-when="open">
            <!-- <button type="button" data-ng-click="close()">Close mmediagroup {{ name }}</button> -->
            <div 
                data-ng-repeat="document in documents" 
                data-media="true"
                data-document="document.value"
                data-visible="true"
                data-media-opened="mediaOpened"
                data-mode="thumbnail">
            </div>
        </div>
        <data data-ng-switch-when="zoomed">
            <div
                data-media="true"
                data-document="zoomedDocument()"
                data-visible="true"
                data-media-opened="mediaOpened"
                data-mode="zoom">
            </div>
        </data>
    </div>
</div>