<div data-ng-controller="MenuCtrl" data-ng-class="menuClasses()" >

	<div class="left">
		<a href="/">
			<img src="/img/Kommissioner-logo-header.png" alt="Kommissioner" class="logo" />
		</a>
	</div>
	<div class="right">
		<a class="btn btn-profile" data-ng-href="#!/my/profile" data-ng-show="loggedIn">
			{{userCtx.name}}
		</a>
        <li class='dropdown' data-ng-show='!loggedIn'>
            <a href='#' id="menuLoginToggle" class='dropdown-toggle' data-toggle='dropdown'>
                Sign up &amp; Log in <i class='icon icon-key'></i>
            </a>
            <div class='dropdown-menu' id='menuLoginForm'>
                <div data-login-form=""></div>
            </div>
        </li>
	</div>
    
    <script>
        $(function() {
            // Fix input element click problem
            $('.dropdown input, .dropdown label').click(function(e) {
              e.stopPropagation();
            });
        });
    </script>
</div>