<div data-ng-controller="MenuCtrl" data-ng-class="menuClasses()" >
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="container">

                        <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>

                        <!-- Be sure to leave the brand out there if you want it shown -->
                        <a class="brand" href="#">Commissar</a>

                        <!-- Everything you want hidden at 940px or less, place within here -->
                        <div class="nav-collapse collapse">
                            <ul class="nav">
                                <li class="dropdown">
                                    <a href="#" id="menuArtistToggle" class="dropdown-toggle" data-toggle="dropdown">
                                        Artists
                                        <b class="caret"></b>
                                    </a>
                                    <ul id="menuArtistDropdown" class="dropdown-menu">
                                        <li>1</li>
                                        <li>2</li>
                                        <li>3</li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" id="menuOffersToggle" class="dropdown-toggle" data-toggle="dropdown">
                                        Offers
                                        <b class="caret"></b>
                                    </a>
                                    <ul id="menuOffersDropdown" class="dropdown-menu">
                                        <li>1</li>
                                        <li>2</li>
                                        <li>3</li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="nav pull-right">
                                <li class="dropdown" data-ng-show='isLoggedIn()'>
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        Notifications <i class="icon icon-exclamation" style="color: #dcdcdc;"></i>
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>1</li>
                                        <li>2</li>
                                        <li>3</li>
                                    </ul>
                                </li>
                                <li class="dropdown" data-ng-show='isLoggedIn()'>
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        My Offers
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a data-ng-href='#!/artist/{{me.slug}}' >
                                                View all
                                            </a>
                                        </li>
                                        <li class='divider'></li>
                                        <li data-ng-repeat="offer in myOffers | orderBy:'updated':true">
                                            <a data-ng-href="#!/artist/{{me.slug}}/{{offer.slug}}" data-ng-class="{prototype: !offer.published}">{{offer.title}}</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown" data-ng-show='isLoggedIn()'>
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        {{me.username|Capitalize}}
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a data-ng-href='#!/my/pictures'>Pictures</a></li>
                                        <li><a data-ng-href='#!/my/settings'>Settings</a></li>
                                        <li><a data-ng-href='#!/logout'>Sign out</a></li>
                                    </ul>
                                </li>
                                <li class='dropdown' data-ng-show='!isLoggedIn()'>
                                    <a href='#' id="menuLoginToggle" class='dropdown-toggle' data-toggle='dropdown'>
                                        Sign up &amp; Log in <i class='icon icon-key'></i>
                                    </a>
                                    <div class='dropdown-menu' id='menuLoginForm'>
                                        <form accept-charset="UTF-8">
                                            <input type="text" name="user[username]" size="30" placeholder="username" data-ng-model="loginFormUsername" />
                                            <input type="password" name="user[password]" size="30" placeholder="password" data-ng-model="loginFormPassword" />

                                            <button id="menuLoginFormButtonLogin" class="btn btn-primary">Log in</button>
                                            <button id="menuLoginFormButtonSignup" class="btn btn-success" data-ng-hide="isUsernameRecognised(loginFormUsername)">Sign up</button>
                                            <button id="menuLoginFormButtonSignupDisabled" class="btn btn-success" disabled="disabled" data-ng-show="isUsernameRecognised(loginFormUsername)">Already signed up!</button>
                                            <button id="menuLoginFormButtonForgot" class="btn btn-link" data-ng-show="isUsernameRecognised(loginFormUsername)">Forgot your password?</button>
                                        </form>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
    <script>
        $(function() {
            // Fix input element click problem
            $('.dropdown input, .dropdown label').click(function(e) {
              e.stopPropagation();
            });
        });
    </script>
</div>