<div data-backendmenu="true" data-active="Admin"></div>

<div class="menupane">
    <h1 id="adminPanelTitle">Administration Panel</h1>

    <a id="adminPanelLinkUploadDesignDocs" data-ng-click="pushDesignDocs()" data-ng-show="!pushingDesignDocs" class="btn btn-danger">Push Design Documents</a>

    <div class='alert alert-danger' data-ng-bind='pushDesignDocsErrors' data-ng-show='!pushingDesignDocs && pushDesignDocsErrors'></div>

    <a id="adminPanelLinkGotoFuton" data-ng-show="!pushingDesignDocs" href="/couchdb/_utils/" class="btn btn-danger">Go to Futon</a>
</div>