.btn, .tag
{
	display: inline-block;
	border: 1px solid @blue;
	border-radius: 5px;
	padding: 7px 19px;
	text-transform: uppercase;
	font-size: 11px;
	margin: 5px 4px;
	cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	
	&.active, &:active {
		background-color: @blue;
		color: @lightblue;
	}
	
	&.active:active {
		background: transparent;
		color: @blue;
	}
	
	&.danger {
		border-color: @red;
		color: @red;
		
		&.active, &:active {
			background-color: @red;
			color: @lightblue;
		}
	
		&.active:active {
			background: transparent;
			color: @red;
		}
	}
	
	&.success {
		border-color: @green;
		color: @green;
		
		&.active, &:active {
			background-color: @green;
			color: @lightblue;
		}
	
		&.active:active {
			background: transparent;
			color: @green;
		}
	}
    
    &.btn-profile {
        text-transform: none;
        background-image: url(/img/icon-small-commissions.png);
        background-repeat: no-repeat;
        background-position: 10px 5px;
        padding-left: 36px;
        padding-right: 12px;
    }
}

.tag {
	cursor: default;
	text-transform: lowercase;
	padding: 3px 8px 4px 8px;
	border-radius: 3px;
	line-height: 1em;
}