.blue {
  color: #4b93f3;
}
.lightblue {
  color: #f7f9fc;
}
.red {
  color: #f52727;
}
.green {
  color: #4dbf49;
}
.greyblue {
  color: #c6daf5;
}
.lightgreyblue {
  color: #e6effa;
}
.bg-blue {
  background-color: #4b93f3;
}
.bg-lightblue {
  background-color: #f7f9fc;
}
.bg-red {
  background-color: #f52727;
}
.bg-green {
  background-color: #4dbf49;
}
.bg-greyblue {
  background-color: #c6daf5;
}
.bg-lightgreyblue {
  background-color: #e6effa;
}
nav {
  border-bottom: 2px solid #4b93f3;
  padding-bottom: 20px;
}
nav h1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: normal;
}
nav .vr {
  height: 30px;
  width: 0px;
  border-left: 1px solid #4b93f3;
  margin: 0 25px -20px 25px;
}
input {
  margin: 0 5px 0 5px;
}
.search {
  border: 1px solid #4b93f3;
  border-radius: 100px;
}
.search input {
  background: transparent;
  border: 0px solid black;
  line-height: 28px;
}
ul.pager {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}
ul.pager li {
  display: inline-block;
  list-style-type: none;
  margin: 3px;
  border: 1px solid #4b93f3;
  border-radius: 3px;
  width: 28px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  cursor: pointer;
}
ul.pager li:hover {
  background: #e6effa;
}
ul.pager li:hover:active {
  background: #c6daf5;
}
ul.pager li.active {
  background: #4b93f3;
  color: #f7f9fc;
  cursor: default;
}
ul.pager li.active:active {
  background: #4b93f3;
  color: #f7f9fc;
}
ul.pager li.more {
  border-color: transparent;
  position: relative;
  top: 4px;
  cursor: default;
}
ul.pager li.more:hover {
  background: transparent;
}
ul.tabs {
  margin: 0;
  padding: 0;
}
ul.tabs li {
  display: inline-block;
  list-style-type: none;
  text-transform: uppercase;
  margin-right: 15px;
  font-size: 14px;
  border-bottom: 1px solid transparent;
  padding-bottom: 10px;
  font-weight: 300;
  cursor: pointer;
}
ul.tabs li:hover {
  border-bottom: 1px solid #4b93f3;
}
ul.tabs li:hover:active {
  padding-bottom: 5px;
  margin-bottom: 5px;
}
ul.tabs li.active {
  font-weight: 700;
  padding-bottom: 10px;
  border-bottom: 1px solid #4b93f3;
  font-size: 13px;
  cursor: default;
}
ul.tabs li.active:active {
  padding-bottom: 10px;
  margin-bottom: 0;
}
ul.tabs li.more {
  border-color: transparent;
  position: relative;
  top: 4px;
}
.btn,
.tag {
  display: inline-block;
  border: 1px solid #4b93f3;
  border-radius: 5px;
  padding: 7px 19px;
  text-transform: uppercase;
  font-size: 11px;
  margin: 5px 4px;
  cursor: pointer;
}
.btn.active,
.tag.active,
.btn:active,
.tag:active {
  background: #4b93f3;
  color: #f7f9fc;
}
.btn.active:active,
.tag.active:active {
  background: transparent;
  color: #4b93f3;
}
.btn.danger,
.tag.danger {
  border-color: #f52727;
  color: #f52727;
}
.btn.danger.active,
.tag.danger.active,
.btn.danger:active,
.tag.danger:active {
  background-color: #f52727;
  color: #f7f9fc;
}
.btn.danger.active:active,
.tag.danger.active:active {
  background: transparent;
  color: #f52727;
}
.btn.success,
.tag.success {
  border-color: #4dbf49;
  color: #4dbf49;
}
.btn.success.active,
.tag.success.active,
.btn.success:active,
.tag.success:active {
  background-color: #4dbf49;
  color: #f7f9fc;
}
.btn.success.active:active,
.tag.success.active:active {
  background: transparent;
  color: #4dbf49;
}
.tag {
  cursor: default;
  text-transform: lowercase;
  padding: 3px 8px 4px 8px;
  border-radius: 3px;
  line-height: 1em;
}
body {
  background: #f7f9fc;
  color: #4b93f3;
  margin-top: 43px;
  font-size: 14px;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", Helvetica, Arial, sans-serif;
}
.right {
  float: right;
}
.left {
  float: left;
}
.clearfix {
  clear: both;
  overflow: hidden;
}
.container {
  width: 860px;
  margin-left: auto;
  margin-right: auto;
}
.row {
  padding: 20px 0;
  overflow: auto;
  width: 100%;
}
html,
body {
  padding: 0;
  margin-top: 0;
  height: 100%;
}
.kommissioner-view {
  height: 100%;
  position: relative;
}
.kommissioner-header {
  height: 100px;
  line-height: 100px;
  margin: 0;
}
.commission-panel {
  position: absolute;
  border-width: 2px;
  border-radius: 6px;
  border-style: solid;
  border-color: #4b93f3;
  width: 739px;
  top: 0;
  bottom: 50px;
  min-height: 524px;
  margin-bottom: 100px;
}
.commission-panel-header {
  font-size: 20px;
  font-weight: normal;
  padding-left: 20px;
  border-bottom: 2px solid #4b93f3;
  margin: 0;
  line-height: 64px;
}
.commissions-list-header {
  position: relative;
  font-size: 14px;
  font-weight: 300;
  color: white;
  padding-left: 20px;
  display: block;
  background: #4b93f3;
  line-height: 32px;
  margin-bottom: 0;
  margin-top: 0;
}
.commissions-lists {
  width: 370px;
  position: absolute;
  left: 0;
  top: 66px;
  bottom: 0px;
  border-right: 1px solid #4b93f3;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.commissions-lists * {
  cursor: default;
}
.commissions-list {
  position: relative;
  width: 370px;
}
.commissions-list ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.commission {
  border-bottom: 1px solid #4b93f3;
  margin: 0;
  padding-left: 20px;
  padding-top: 16px;
  padding-bottom: 16px;
  position: relative;
  height: 42px;
  overflow: hidden;
  clear: both;
}
.commissions-list {
  margin-bottom: 20px;
}
.commission-person-image {
  width: 40px;
  height: 40px;
  background-color: #4b93f3;
  float: left;
}
.commission-person-image-small {
  width: 23px;
  height: 23px;
  background-color: #4b93f3;
  float: left;
  margin: 10px 8px 10px 0;
}
.commission-person-image img {
  width: 100%;
  height: 100%;
}
.commission-title {
  line-height: 14px;
  line-height: 20px;
  padding-left: 8px;
  margin: 0;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.commission-person-name {
  font-weight: 300;
  line-height: 18px;
  padding-left: 8px;
  margin: 0;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.selected-commission {
  background: #e6effa;
}
.commission-with-unread-messages::before {
  content: '';
  position: absolute;
  top: 1px;
  left: 0;
  height: 100%;
  width: 11px;
  background: #4b93f3;
}
.commissions-list-toggle {
  position: absolute;
  display: block;
  right: 5px;
  top: 6px;
  width: 15px;
  height: 15px;
  border: 1px solid white;
  border-radius: 10px;
  pointer-events: none;
}
.commissions-list-toggle:after {
  content: '';
  position: absolute;
  left: 2px;
  top: 7px;
  background-color: white;
  font-weight: 300;
  height: 1px;
  width: 11px;
  overflow: hidden;
  font-size: 36px;
}
.commissions-list-toggle:before {
  content: '';
  position: absolute;
  left: 7px;
  top: 2px;
  background-color: white;
  font-weight: 300;
  height: 11px;
  width: 1px;
  overflow: hidden;
  font-size: 36px;
}
.disclosed-commission-list-toggle:before {
  content: none;
}
.commission-actions {
  position: absolute;
  top: 66px;
  right: 0;
  height: 30px;
  width: 329px;
  border-bottom: 1px solid #4b93f3;
  padding: 10px 20px;
}
.commission-action {
  margin: 0;
}
.commission-action:first-child {
  float: left;
}
.commission-action:last-child {
  float: right;
}
.commission-conversation {
  position: absolute;
  top: 117px;
  width: 329px;
  right: 0;
  bottom: 119px;
  padding: 20px 20px;
  background: #e6effa;
  overflow-y: scroll;
  overflow-x: hidden;
}
.commission-message {
  position: relative;
  margin-bottom: 30px;
}
.commission-message-sender {
  padding: 12px 0 4px 0;
}
.commission-message-body {
  border: 1px solid #4b93f3;
  border-radius: 6px;
  margin-top: 9px;
  padding: 19px;
  background: #f7f9fc;
  color: #4b93f3;
}
.commission-message-attachments {
  border: 1px solid #4b93f3;
  border-radius: 0 0px 6px 6px;
  margin-top: -6px;
  padding: 19px;
  background: #f7f9fc;
  color: #4b93f3;
}
.commission-files {
  position: absolute;
  right: 0;
  width: 329px;
  bottom: -2px;
  height: 76px;
  border-radius: 0 0 6px 0;
  padding: 20px 20px;
  border-top: 1px solid #4b93f3;
  border-bottom: 2px solid #4b93f3;
  background-color: #c6daf5;
}
