@import "base.less";

.banner {
	padding: 10px;
	border-bottom: 2px solid @blue;
	position: relative;
	
	.bluegirl {
		position: relative;
		left: 50px;
	}
	
	h2 {
		margin: auto;
		position: absolute;
		top: 0; left: 0; bottom: 0; right: 0;
		height: 95px;
		font-size: 40px;
		font-weight: 100;
		text-align: center;
		width: 750px;
		padding-left: 375px;
	}
}


.row {
	ul.tabs {
		padding-top: 13px;
	}
	
	.btn:last-child {
		margin-right: 0;
	}
}

.padded-box {
	border-top: 1px solid @blue;
	border-bottom: 1px solid @blue;
	padding: 12px 0;
	margin: 12px 0;
	.clearfix();
	position: relative;
}

.artist-profile
{
	border: 1px solid @blue;
	border-radius: 5px;
	padding: 19px;
	margin-bottom: 25px;
	
	.media {
		border: 1px solid @blue;
		display: inline-block;
		whitespace: nowrap;
		font-size: 0;
		line-height: 0;
		margin-right: 17px;
	}
	
	.artist-profile__deets {
		display: inline-block;
		width: 250px;
		vertical-align: top;
		
		.padded-box {
			margin-bottom: 0;
		}
	}
	
	.artist-profile__favs {
		float: right;
		
		.artist-profile__favs__button {
			float: left;
			display: inline-block;
			padding: 2px;
			border: 1px solid @blue;
			border-radius: 3px;
			width: 26px;
			height: 26px;
			text-align: center;
			position: relative;
			img {
				position: absolute;
				top: 6px;
				left: 5px;
				width: 14px;
				height: 14px;
			}
		}
		
		.artist-profile__favs__count {
			float: left;
			border: 1px solid @blue;
			border-radius: 3px;
			height: 26px;
			line-height: 24px;
			text-align: center;
			width: 46px;
			position: relative;
			
			margin-left: 8px;
			
			&::before {
				position: absolute;
				display: block;
				content: "";  
				border-color: transparent @blue transparent transparent;
				border-style: solid;
				border-width: 5px;
				height:0;
				width:0;
				left:-10px;
				top: 7px;
			}
			
			&::after {
				position: absolute;
				display: block;
				content: "";  
				border-color: transparent @lightblue transparent transparent;
				border-style: solid;
				border-width: 4px;
				height:0;
				width:0;
				left:-8px;
				top: 8px;
			}
		}
	}
	
	.artist-profile__prices
	{
		display: inline-block;
		.left();
		
		.artist-profile__prices__label
		{
			display: inline-block;
			font-size: 12px;
		}
		
		.artist-profile__prices__price
		{
			font-size: 32px;
			line-height: 1em;
			display: inline-block;
		}
	}
	
	.artist-profile__userinfo {
		margin-bottom: 15px;
		
		img {
			float: left;
			margin-right: 17px;
		}
		.artist-profile__userinfo__name
		{
			font-size: 16px;
			display: block;
			margin: 0 0 3px 0;
		}
		
		.artist-profile__userinfo__status
		{
			display: inline-block;
			clear: both;
			font-size: 12px;
			
			font-weight: 300;
			
			strong {
				font-weight: 400;
			}
		}
		
	}
	
	.artist-profile__tags
	{
		float: right;
		
		.tag:last-child {
			margin-right: 0;
		}
	}
}


