nav {
  border-bottom: 2px solid #4b94f2;
  padding-bottom: 20px;
}
nav h1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: normal;
}
nav .vr {
  height: 30px;
  width: 0px;
  border-left: 1px solid #4b94f2;
  margin: 0 25px -20px 25px;
}
input {
  margin: 0 5px 0 5px;
}
.search {
  border: 1px solid #4b94f2;
  border-radius: 100px;
}
.search input {
  background: transparent;
  border: 0px solid black;
  line-height: 28px;
}
body {
  background: #f7f9fc;
  color: #4b94f2;
  margin-top: 43px;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", Helvetica, Arial, sans-serif;
}
.right {
  float: right;
}
.left {
  float: left;
}
.clearfix {
  clear: both;
  overflow: hidden;
}
html,
body {
  padding: 0;
  margin-top: 0;
  height: 100%;
}
.kommissioner-view {
  height: 100%;
  position: relative;
}
.kommissioner-header {
  height: 100px;
  line-height: 100px;
  margin: 0;
}
.commission-panel {
  position: absolute;
  border-width: 2px;
  border-radius: 6px;
  border-style: solid;
  border-color: #4b94f2;
  width: 740px;
  top: 0;
  bottom: 50px;
  min-height: 398px;
  margin-bottom: 100px;
}
.commission-panel-header {
  font-size: 20px;
  font-weight: normal;
  padding-left: 20px;
  border-bottom: 2px solid #4b94f2;
  margin: 0;
  line-height: 64px;
}
.commissions-list-header {
  position: relative;
  font-size: 14px;
  font-weight: 300;
  color: white;
  padding-left: 20px;
  display: block;
  background: #4b94f2;
  line-height: 32px;
  margin-bottom: 0;
  margin-top: 0;
}
.commissions-lists {
  width: 370px;
  position: absolute;
  left: 0;
  top: 66px;
  bottom: 0px;
  border-right: 2px solid #4b94f2;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.commissions-lists * {
  cursor: default;
}
.commissions-list {
  position: relative;
  width: 370px;
}
.commissions-list ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.commission {
  border-bottom: 1px solid #4b94f2;
  margin: 0;
  padding-left: 20px;
  padding-top: 16px;
  padding-bottom: 16px;
  position: relative;
  height: 42px;
  overflow: hidden;
}
.commissions-list {
  margin-bottom: 20px;
}
.commission-person-image {
  width: 40px;
  height: 40px;
  background-color: #4b94f2;
  float: left;
}
.commission-person-image img {
  width: 40px;
  height: 40px;
}
.commission-title {
  line-height: 14px;
  line-height: 20px;
  padding-left: 8px;
  margin: 0;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.commission-person-name {
  font-weight: 300;
  line-height: 18px;
  padding-left: 8px;
  margin: 0;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.selected-commission {
  background: #e6effa;
}
.commission-with-unread-messages::before {
  content: '';
  position: absolute;
  top: 1px;
  left: 0;
  height: 100%;
  width: 11px;
  background: #4b94f2;
}
.commissions-list-toggle {
  position: absolute;
  display: block;
  right: 5px;
  top: 6px;
  width: 15px;
  height: 15px;
  border: 1px solid white;
  border-radius: 10px;
}
.commissions-list-toggle:after {
  content: '';
  position: absolute;
  left: 2px;
  top: 7px;
  background-color: white;
  font-weight: 300;
  height: 1px;
  width: 11px;
  overflow: hidden;
  font-size: 36px;
}
.commissions-list-toggle:before {
  content: '';
  position: absolute;
  left: 7px;
  top: 2px;
  background-color: white;
  font-weight: 300;
  height: 11px;
  width: 1px;
  overflow: hidden;
  font-size: 36px;
}
.disclosed-commission-list-toggle:before {
  content: none;
}
.commission-actions {
  position: absolute;
  top: 66px;
  right: 0;
  height: 50px;
  width: 368px;
  border-bottom: 1px solid #4b94f2;
}
