body
{
	background: #f7f9fc;
}

.fakebody
{
    min-height: 100%;
}

body { padding-top: 70px; }
.loginForm { width: 300px; }
  
    
    ::selection, input::selection {
        background: limegreen;
        color:white
    }

    ::-moz-selection, input::-moz-selection {
        background: limegreen;
        color:white
    }

    ::-webkit-selection, input::-webkit-selection {
        background: limegreen;
        color:white;
    } 
    
    .relative
    {
        position: relative;
    }
    
    .navbar-static-top .navbar
    {
        margin-bottom: 0;
    }
    
    #menuLoginForm form
    {
        padding: 15px;
        margin: 0;
    }
    
    #menuLoginForm input
    {
        margin-bottom: 15px;
    }
    
    #menuLoginForm button
    {
        clear: left;
        margin-bottom: 15px;
    }
    
    #menuLoginForm #menuLoginFormButtonForgot,
    #menuLoginForm #menuLoginFormButtonSignup
    {
        margin-bottom: 0;
    }